.user-dashboard
  %h2
    =current_user.full_name
    's Dashboard
  %section
    %p=current_user.email
    .addresses
      -unless current_user.addresses.empty?
        -current_user.addresses.each do |address|
          %p=address.street_address
          %p
            =address.city.name
            =address.state.name
          %p=address.zipcode.number
          %p
            Type:
            =address.address_type.capitalize
          =link_to "Edit Address", edit_users_address_path(address)

    %p=link_to "Add Address", new_users_address_path(current_path: request.path)
    %p=link_to "View Orders", user_orders_path(current_user)
    %p=link_to "Edit Profile", edit_user_path(current_user)
    %p=link_to "Reset Password", edit_user_password_path(current_user)
