.center-container
  %h1 Sign In
  .login-box
    =form_for(:session, url: login_path) do |f|
      =f.hidden_field :return_path, value: @return_path
      =f.label :email
      =f.text_field :email
      %br
      =f.label :password
      =f.password_field :password
      %br
      =f.submit "Login"

    .hanging-link
      =link_to "Create Account", new_user_path(return: @return_path)
