%table
  -@order.order_items.each do |order_item|
    %tr
      %th
        Date of Order
      %th
        Name
      %th
        Address
      %th
        Item Name
      %th
        Item Qty
      %th
        Item Price
      %th
        Subtotal
      %th
        Order Total
    %tr
      %td
        =@order.created_at
      %td
        =@order.user.full_name
      %td
        =@order.user.full_address
      %td
        =link_to order_item.item.name, item_path(order_item)
      %td#qty
        =order_item.qty
      %td
        =order_item.item.price
      %td
        =order_item.line_item_subtotal
      %td
        =@order.total
  -# %div
  -#   =button_to "Cancel", admin_order_index_path(:id => @order.id, :perform => 'cancel')
  -#   =button_to "Paid", admin_order_index_path(:id => @order.id, :perform => 'paid')
  -#   =button_to "Completed", admin_order_index_path(:id => @order.id, :perform => 'complete')