%table
  -@order.order_items.each do |order_item|
    %tr
      %th
        Date of Order
      %th
        Status
      %th
        Name
      %th
        Address
      %th
        Item Name
      %th
        Item Qty
      %th
        Item Price
      %th
        Subtotal
      %th
        Order Total
    %tr
      %td
        =@order.created_at
      %td
        =@order.status.capitalize
      %td
        =@order.user.full_name
      %td
        =@order.user.full_address
      %td
        =link_to order_item.item.name, item_path(order_item)
      %td#qty
        =order_item.qty
      %td
        =order_item.item.price
      %td
        =order_item.line_item_subtotal
      %td
        =@order.total
  
=form_for([:admin, @order]) do |f|
  =f.label :status
  =f.select(:status, [["Ordered", 0], ["Paid", 1],["Canceled", 2],["Completed", 3]], :selected => @order.status_before_type_cast)
  =f.submit 