Welcome to Ready Player One, #{@user.first_name}!
===============================================

You have successfully signed up to accessorize your avatar!
Your username is: #{@user.email}
To log on just follow this link: #{@url}

We look forward to customizing your experience!

Sincerely, Ready Player One Team
