%h1 New Address

%p Please add an address to complete your order.

=form_for([:users, @address]) do |f|
  =f.hidden_field :current_path, value: @current_path

  =f.label :street_address
  =f.text_field :street_address

  =fields_for :city do |c|
    =c.name.label :name, "City"
    =c.name.text_field :name

  =fields_for :state do |c|
    =c.label :name, "State"
    =c.text_field :name

  =fields_for :zipcode do |c|
    =c.label :number, "Zipcode"
    =c.text_field :number

  =f.submit "Save Address"
