.user-dashboard
  %h2 Welcome Admin

  %h3
    =current_user.full_address unless current_user.addresses.empty?
    =current_user.email
    =link_to "Edit", edit_admin_user_path(current_user)

  %h3
    =link_to "View All Items", admin_items_path

  %ul.order-filter
    %li
      =link_to "Ordered (#{@orders[:ordered].count})", admin_dashboard_index_path(retrieve: :ordered), id: "ordered"
  
    %li
      =link_to "Paid (#{@orders[:paid].count})", admin_dashboard_index_path(retrieve: :paid), id: "paid"
  
    %li
      =link_to "Cancelled (#{@orders[:cancelled].count})", admin_dashboard_index_path(retrieve: :cancelled), id: "cancelled"
  
    %li
      =link_to "Completed (#{@orders[:completed].count})", admin_dashboard_index_path(retrieve: :completed), id: "completed"

    %li
      =link_to "Show All", admin_dashboard_index_path(retrieve: :all), id: "all"

  #all-orders
    =render partial: @partial if @partial