.user-dashboard
  %h2 Welcome Admin

  %h3
    =current_user.full_address unless current_user.addresses.empty?
    =current_user.email
    =link_to "Edit", edit_admin_user_path(current_user)
  .ordered
    %p Ordered
    =@orders[:ordered]
    -# -@orders.each do |order|
    -#   =order.user.email if order.status == 0
    =button_to "Cancel"
    =button_to "Paid"

  -# .paid
  -#   %p Paid
  -#   -@orders.each do |order|
  -#     order if order.status == 1
  -#
  -# .cancelled
  -#   %p Cancelled
  -#   -@orders.each do |order|
  -#     order if order.status == 2
  -#
  -# .completed
  -#   %p Completed
  -#   -@orders.each do |order|
  -#     order if order.status == 3
