.user-dashboard
  %h2 Welcome Admin

  %h3
    =current_user.full_address unless current_user.addresses.empty?
    =current_user.email
    =link_to "Edit", edit_admin_user_path(current_user)

  .ordered
    %p Ordered
    -@orders.each do |order|
      =order if order.status == 0
      =order.user.email if order.status == 0
      
  .paid
    -@orders.each do |order|
      order if order.status == 1

  .cancelled
    -@orders.each do |order|
      order if order.status == 2

  .completed
    -@orders.each do |order|
      order if order.status == 3
