.user-dashboard
  %h2 Welcome Admin

  %h3
    =current_user.full_address unless current_user.addresses.empty?
    =current_user.email
    =link_to "Edit", edit_admin_user_path(current_user)

  %h3
    =link_to "View All Items", admin_items_path

  %ul.order-filter
    %li
      =link_to "Ordered: #{@orders[:ordered].count}", "#", class: "filter-link", id: "ordered"
    %li
      =link_to "Paid: #{@orders[:paid].count}", "#", class: "filter-link", id: "paid"
    %li
      =link_to "Cancelled: #{@orders[:cancelled].count}", "#", class: "filter-link", id: "cancelled"
    %li
      =link_to "Completed: #{@orders[:completed].count}", "#", class: "filter-link", id: "completed"
    %li
      =link_to "Show All", "#", class: "filter-link", id: "show-all"

  #all-orders
    .orders-table.ordered.show
      %p Ordered
      -@orders[:ordered].each do |order|
        .order-info
          =link_to order.id, user_order_path(order.user, order)
          =order.user.full_name
          =order.created_at.to_date
          =button_to "Cancel", admin_dashboard_index_path(:id => order.id, :perform => 'cancel')
          =button_to "Paid", admin_dashboard_index_path(:id => order.id, :perform => 'paid')

    .orders-table.paid.show
      %p Paid
      -@orders[:paid].each do |order|
        .order-info
          =link_to order.id, user_order_path(order.user, order)
          =order.user.full_name
          =order.created_at.to_date
          =button_to "Cancel", admin_dashboard_index_path(:id => order.id, :perform => 'cancel')
          =button_to "Completed", admin_dashboard_index_path(:id => order.id, :perform => 'completed')

    .orders-table.cancelled.show
      %p Cancelled
      -@orders[:cancelled].each do |order|
        .order-info
          =link_to order.id, user_order_path(order.user, order)
          =order.user.full_name
          =order.created_at.to_date

    .orders-table.completed.show
      %p Completed
      -@orders[:completed].each do |order|
        .order-info
          =link_to order.id, user_order_path(order.user, order)
          =order.user.full_name
          =order.created_at.to_date
