.user-dashboard
  %h2 Welcome Admin

  %h3
    =current_user.full_address unless current_user.addresses.empty?
    =current_user.email
    =link_to "Edit", edit_admin_user_path(current_user)

  %ul.order-filter
    %li
      Ordered:
      =@orders[:ordered].count
    %li
      Paid:
      =@orders[:paid].count
    %li
      Cancelled:
      =@orders[:cancelled].count
    %li
      Completed:
      =@orders[:completed].count


  .orders-table.ordered
    %p Ordered
    -@orders[:ordered].each do |order|
      .order-info
        =link_to order.id, user_order_path(order.user, order)
        =order.user.full_name
        =order.created_at.to_date
        =button_to "Cancel"
        =button_to "Paid"

  .orders-table.paid
    %p Paid
    -@orders[:paid].each do |order|
      .order-info
        =link_to order.id, user_order_path(order.user, order)
        =order.user.full_name
        =order.created_at.to_date
        =button_to "Cancel"
        =button_to "Completed"

  .orders-table.cancelled
    %p Cancelled
    -@orders[:cancelled].each do |order|
      .order-info
        =link_to order.id, user_order_path(order.user, order)
        =order.user.full_name
        =order.created_at.to_date

  .orders-table.completed
    %p Completed
    -@orders[:completed].each do |order|
      .order-info
        =link_to order.id, user_order_path(order.user, order)
        =order.user.full_name
        =order.created_at.to_date
