/*////////////////////////////////////
              FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
/*////////////////////////////////////
              CSS RESET
*/
/* line 10, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
body {
  line-height: 1;
}

/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
ol, ul {
  list-style: none;
}

/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
.add-to-cart-button input {
  background-color: #FDCB44;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
}

/* line 6, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h1 {
  text-align: left;
  color: #ED1C39;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2.5%;
  font-size: 1.5em;
}

/* line 15, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
}

/* line 21, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.main-wrapper {
  margin: 3%;
}

/* line 25, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container {
  border: 2px solid #dcdcdc;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 5%;
}
/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}

/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input {
  margin: 2%;
}

/* line 43, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input[type=submit] {
  float: right;
}

/* line 47, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.hanging-link {
  padding-top: 5%;
  font-size: 10px;
}

/* line 52, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.error-message li {
  line-height: 1.5;
  background-color: #ED1C39;
  color: white;
  text-transform: uppercase;
  font-size: .5em;
  padding-left: 2%;
  vertical-align: middle;
}

/* line 62, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item {
  display: flex;
  border: 2px solid #dcdcdc;
  padding: 1%;
}
/* line 66, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item img {
  padding: 1%;
}
/* line 69, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item p {
  display: inline-flex;
  padding: 0.5%;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  height: 5%;
}

/* line 11, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav img {
  height: 70px;
  padding: 2%;
}

/* line 16, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.site-id {
  width: 20%;
  float: left;
}

/* line 21, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.user-tools {
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}

/* line 32, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links {
  width: 80%;
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}
/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links a {
  text-transform: uppercase;
}

/* line 47, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link {
  float: right;
}

/* line 51, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a {
  display: flex;
  color: #FDCB44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 59, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a:hover {
  background-color: #FDCB44;
  color: #ED1C39;
}

/* line 64, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.cart {
  background-image: url("/assets/images/glyphicons-203-shopping-cart.png");
}

/* line 68, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.cart img {
  padding: 0%;
  width: 20px;
  height: 20px;
  display: block;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.all-items {
  width: 100%;
}

/* line 5, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview {
  display: block;
  float: left;
  width: 20%;
  margin: 2.5%;
  padding: 2%;
  border: 2px solid #dcdcdc;
  border-radius: 2%;
  box-sizing: border-box;
}
/* line 14, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview img {
  max-height: 100%;
  max-width: 100%;
}
/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview a {
  text-decoration: none;
  color: #ED1C39;
}
/* line 22, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .add-to-cart-button input {
  background-color: #FDCB44;
}
/* line 26, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text {
  text-align: left;
  line-height: 1.5;
  padding-top: 5%;
}

/* line 33, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-thumb {
  margin-right: auto;
  margin-left: auto;
  height: 188px;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show {
  width: 60%;
  border: 2px solid #dcdcdc;
  overflow: hidden;
  padding: 2%;
  clear: both;
}

/* line 9, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-image {
  float: left;
  display: block;
  max-height: 100%;
  width: 30%;
  box-sizing: border-box;
  padding: 5%;
  box-sizing: border-box;
  border: 5px black solid;
  overflow: hidden;
  object-fit: contain;
}
/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-image img {
  padding: 5%;
  max-width: 100%;
  max-height: 100%;
  float: left;
}

/* line 28, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text {
  padding: 10%;
  display: block;
  width: 70%;
  box-sizing: border-box;
  float: left;
  position: relative;
}
/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text .add-to-cart-button input {
  float: left;
  margin-left: 0px;
}
/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text h2 {
  padding: 1%;
}
/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text p {
  padding: 1%;
}

/* line 47, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-description {
  height: 140px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*////////////////////////////////////
              FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
/*////////////////////////////////////
              CSS RESET
*/
/* line 10, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
body {
  line-height: 1;
}

/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
ol, ul {
  list-style: none;
}

/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
}

/* line 6, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h1 {
  text-align: left;
  color: #ED1C39;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2.5%;
  font-size: 1.5em;
}

/* line 15, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
}

/* line 21, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.main-wrapper {
  margin: 3%;
}

/* line 25, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container {
  border: 2px solid #dcdcdc;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 5%;
}
/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}

/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input {
  margin: 2%;
}

/* line 43, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input[type=submit] {
  float: right;
}

/* line 47, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.hanging-link {
  padding-top: 5%;
  font-size: 10px;
}

/* line 52, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.error-message li {
  line-height: 1.5;
  background-color: #ED1C39;
  color: white;
  text-transform: uppercase;
  font-size: .5em;
  padding-left: 2%;
  vertical-align: middle;
}

/* line 62, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item {
  display: flex;
  border: 2px solid #dcdcdc;
  padding: 1%;
}
/* line 66, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item img {
  padding: 1%;
}
/* line 69, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item p {
  display: inline-flex;
  padding: 0.5%;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  height: 5%;
}

/* line 11, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav img {
  height: 70px;
  padding: 2%;
}

/* line 16, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.site-id {
  width: 20%;
  float: left;
}

/* line 21, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.user-tools {
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}

/* line 32, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links {
  width: 80%;
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}
/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links a {
  text-transform: uppercase;
}

/* line 47, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link {
  float: right;
}

/* line 51, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a {
  display: flex;
  color: #FDCB44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 59, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a:hover {
  background-color: #FDCB44;
  color: #ED1C39;
}

/* line 64, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.cart {
  background-image: url("/assets/images/glyphicons-203-shopping-cart.png");
}

/* line 68, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.cart img {
  padding: 0%;
  width: 20px;
  height: 20px;
  display: block;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.all-items {
  width: 100%;
}

/* line 5, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview {
  display: block;
  float: left;
  width: 20%;
  margin: 2.5%;
  padding: 2%;
  border: 2px solid #dcdcdc;
  border-radius: 2%;
  box-sizing: border-box;
}
/* line 14, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview img {
  max-height: 100%;
  max-width: 100%;
}
/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview a {
  text-decoration: none;
  color: #ED1C39;
}
/* line 22, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .add-to-cart-button input {
  background-color: #FDCB44;
}
/* line 26, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text {
  text-align: left;
  line-height: 1.5;
  padding-top: 5%;
}

/* line 33, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-thumb {
  margin-right: auto;
  margin-left: auto;
  height: 188px;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show {
  width: 60%;
  border: 2px solid #dcdcdc;
  overflow: hidden;
  padding: 2%;
  clear: both;
}

/* line 9, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-image {
  float: left;
  display: block;
  max-height: 100%;
  width: 30%;
  box-sizing: border-box;
  padding: 5%;
  box-sizing: border-box;
  border: 5px black solid;
  overflow: hidden;
  object-fit: contain;
}
/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-image img {
  padding: 5%;
  max-width: 100%;
  max-height: 100%;
  float: left;
}

/* line 28, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text {
  padding: 10%;
  display: block;
  width: 70%;
  box-sizing: border-box;
  float: left;
  position: relative;
}
/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text .add-to-cart-button input {
  float: left;
  margin-left: 0px;
}
/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text h2 {
  padding: 1%;
}
/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-show-text p {
  padding: 1%;
}

/* line 47, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-description {
  height: 140px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
.add-to-cart-button input {
  background-color: #FDCB44;
}

/* line 30, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
.cart-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
/* line 34, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
.cart-item .item-preview {
  display: flex;
  text-align: center;
  width: 25%;
  padding: 20;
}
/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
.cart-item .item-preview .item-thumb {
  width: 100%;
}

/* line 45, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
.item-preview {
  text-align: center;
  font-family: helvetica;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
.btn-cart-add {
  padding: 8%;
  background-color: #33ffbb;
  border: 10px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
  border-radius: 12%;
}

/* line 64, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
.btn-cart-add:hover {
  background: #ED1C39;
  color: #fff;
  text-decoration: none;
}

/* line 76, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
#all-orders .hidden {
  display: none;
}
