/*////////////////////////////////////
              FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
/*////////////////////////////////////
              CSS RESET
*/
/* line 10, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
body {
  line-height: 1;
}

/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
ol, ul {
  list-style: none;
}

/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
.pagination {
  clear: both;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
.add-to-cart-button input {
  background-color: #FDCB44;
}

/* line 5, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
.add-to-cart-button {
  background-color: #FDCB44;
}

/* line 9, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
label[required=required]:before {
  content: "* ";
  color: red;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 9, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h1 {
  text-align: left;
  color: #ED1C39;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2.5%;
  font-size: 1.5em;
}

/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
}

/* line 24, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.main-wrapper {
  width: 94%;
  margin: 3%;
  min-height: 90%;
  overflow: hidden;
  flex: 1;
}

/* line 32, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container {
  border: 2px solid #dcdcdc;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 5%;
}
/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}

/* line 46, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input {
  margin: 2%;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input[type=submit] {
  float: right;
}

/* line 54, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.hanging-link {
  padding-top: 5%;
  font-size: 10px;
}

/* line 59, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.error-message li {
  line-height: 1.5;
  background-color: #ED1C39;
  color: white;
  text-transform: uppercase;
  font-size: .5em;
  padding-left: 2%;
  vertical-align: middle;
}

/* line 69, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item {
  display: flex;
  border: 2px solid #dcdcdc;
  padding: 1%;
}
/* line 73, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item img {
  padding: 1%;
}
/* line 76, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item p {
  display: inline-flex;
  padding: 0.5%;
}

/* line 82, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.thumbnail {
  height: 50px;
  padding-left: 2%;
}

/* line 87, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
table {
  width: 95%;
  text-align: left;
}

/* line 92, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
tr {
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
}

/* line 97, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
td {
  vertical-align: middle;
  text-align: center;
}
/* line 100, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
td a {
  text-decoration: none;
  color: #ED1C39;
}
/* line 104, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
td a:hover {
  color: #a51226;
}

/* line 109, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.flash {
  color: #006633;
  position: absolute;
  top: 100px;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}
/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}
/* line 13, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .cart-item {
  width: 97%;
  margin-bottom: 2%;
  float: left;
}
/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .item-image {
  width: 15%;
  box-sizing: border-box;
}
/* line 22, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper img {
  display: block;
  float: left;
  max-width: 100%;
  max-height: 100%;
}
/* line 28, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .item-text {
  width: 85%;
  box-sizing: border-box;
  display: block;
  float: left;
}
/* line 34, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .cart-total {
  text-align: right;
  font-size: 1.25em;
  color: #ED1C39;
}
/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .guest-checkout-links {
  border: 1.5px solid black;
  background-color: none;
  background-color: white;
  margin-top: 2%;
  padding: 1%;
  font-size: .9em;
}

/* line 49, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
h1.cart-header {
  margin-left: 0%;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* line 6, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 11, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 16, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ED1C39;
}

/* line 23, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard a:hover {
  color: darkgray;
}

/* line 27, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.table-heading {
  margin: 10px 0px;
  border-bottom: 1px solid black;
  max-width: 65%;
}

/* line 33, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-info td,
th {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-show thead {
  border-bottom: 1px solid black;
}

/* line 45, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-show tbody {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.total {
  margin-top: 10px;
  padding-right: 30px;
  text-align: right;
}

/*.status input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #ED1C39;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
}*/
/* line 69, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-filter ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
  background: #FDCB44;
  max-width: 65%;
}

/* line 80, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-filter li {
  text-align: center;
  float: left;
  margin: 10px 20px;
}

/* line 86, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-info a {
  margin: 0px 10px;
}

/* line 90, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
#all-orders {
  /*float: right;*/
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
footer {
  display: flex;
  clear: both;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ED1C39;
  height: 8%;
}

/* line 12, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
.foot-link {
  float: left;
}

/* line 16, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
.foot-link a {
  display: flex;
  color: #FDCB44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 24, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
.foot-link a:hover {
  background-color: #FDCB44;
  color: #ED1C39;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  height: 5%;
}

/* line 10, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav img {
  height: 70px;
  padding: 2%;
}

/* line 15, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.site-id {
  width: 20%;
  float: left;
}

/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.user-tools {
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}

/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links {
  width: 80%;
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}
/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links a {
  text-transform: uppercase;
}

/* line 46, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link {
  float: right;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a {
  display: flex;
  color: #FDCB44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 58, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a:hover {
  background-color: #FDCB44;
  color: #ED1C39;
}

/* line 63, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.tag-line {
  float: left;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  vertical-align: bottom;
  line-height: 1.2;
  text-align: left;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}
/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-wrapper h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}
/* line 13, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-wrapper .order-table-wrapper {
  width: 97%;
  margin-bottom: 2%;
  float: left;
}

/* line 19, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-total {
  margin-top: 2%;
  margin-right: 5%;
  float: right;
  text-align: right;
  line-height: 1.5;
  font-size: 1.5em;
}
/* line 26, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-total .price {
  color: #ED1C39;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-orders a {
  text-decoration: none;
  color: inherit;
}

/* line 6, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-orders p {
  margin: 5px 0px;
  padding: 5px 0px;
}

/* line 11, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-order {
  text-align: center;
  padding: 20px;
  margin: 0 10px;
  float: left;
  border: .5px solid whitesmoke;
  border-radius: 5px;
}

/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-order:hover {
  color: lightgray;
}

/* line 24, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-order .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_search.scss */
.search-container {
  width: 250px;
  white-space: nowrap;
  position: relative;
}

/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_search.scss */
.search-container input#search {
  width: 140px;
  height: 25px;
  background: whitesmoke;
  order: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 10px;
  margin-right: 0px;
  border-radius: 5px;
}

/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_search.scss */
.search-container input[type=submit] {
  padding: 5px 15px;
  background: #fdcb44;
  color: #ed1c39;
  font-weight: bold;
  text-transform: uppercase;
  height: 27px;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  float: left;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.all-items {
  width: 100%;
}

/* line 5, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview {
  text-align: center;
  font-family: helvetica;
  display: block;
  float: left;
  width: 20%;
  height: 358px;
  margin: 2.5%;
  padding: 2%;
  border: 2px solid #dcdcdc;
  border-radius: 2%;
  box-sizing: border-box;
}
/* line 17, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview img {
  max-height: 100%;
  max-width: 100%;
}
/* line 21, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview a {
  text-decoration: none;
  color: #ED1C39;
}
/* line 25, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .add-to-cart-button input {
  background-color: #FDCB44;
}
/* line 29, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text {
  text-align: left;
  line-height: 1.5;
  padding-top: 5%;
}
/* line 33, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text h2 {
  font-size: 1em;
}
/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text h2 a:hover {
  color: #a51226;
}

/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-thumb {
  margin-right: auto;
  margin-left: auto;
  height: 188px;
}
/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}
/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}
/* line 13, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show {
  width: 97%;
  margin-bottom: 2%;
  float: left;
}
/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-image {
  width: 25%;
  box-sizing: border-box;
}
/* line 22, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper img {
  display: block;
  float: left;
  max-width: 100%;
  max-height: 100%;
}
/* line 28, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text {
  width: 75%;
  box-sizing: border-box;
  padding-left: 5%;
  display: block;
  float: left;
}
/* line 34, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text h2 {
  font-size: 1.5em;
  padding-bottom: 3%;
}
/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text .item-description {
  font-size: 1.25em;
  line-height: 1.25;
}
/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text .item-price {
  font-size: 1.5em;
  color: #ED1C39;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*////////////////////////////////////
              FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
/*////////////////////////////////////
              CSS RESET
*/
/* line 10, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
body {
  line-height: 1;
}

/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
ol, ul {
  list-style: none;
}

/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 44, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_base.scss */
.pagination {
  clear: both;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 9, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h1 {
  text-align: left;
  color: #ED1C39;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2.5%;
  font-size: 1.5em;
}

/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
}

/* line 24, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.main-wrapper {
  width: 94%;
  margin: 3%;
  min-height: 90%;
  overflow: hidden;
  flex: 1;
}

/* line 32, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container {
  border: 2px solid #dcdcdc;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 5%;
}
/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.center-container h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}

/* line 46, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input {
  margin: 2%;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
input[type=submit] {
  float: right;
}

/* line 54, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.hanging-link {
  padding-top: 5%;
  font-size: 10px;
}

/* line 59, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.error-message li {
  line-height: 1.5;
  background-color: #ED1C39;
  color: white;
  text-transform: uppercase;
  font-size: .5em;
  padding-left: 2%;
  vertical-align: middle;
}

/* line 69, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item {
  display: flex;
  border: 2px solid #dcdcdc;
  padding: 1%;
}
/* line 73, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item img {
  padding: 1%;
}
/* line 76, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.cart-item p {
  display: inline-flex;
  padding: 0.5%;
}

/* line 82, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.thumbnail {
  height: 50px;
  padding-left: 2%;
}

/* line 87, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
table {
  width: 95%;
  text-align: left;
}

/* line 92, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
tr {
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
}

/* line 97, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
td {
  vertical-align: middle;
  text-align: center;
}
/* line 100, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
td a {
  text-decoration: none;
  color: #ED1C39;
}
/* line 104, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
td a:hover {
  color: #a51226;
}

/* line 109, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_skeleton.scss */
.flash {
  color: #006633;
  position: absolute;
  top: 100px;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  height: 5%;
}

/* line 10, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
nav img {
  height: 70px;
  padding: 2%;
}

/* line 15, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.site-id {
  width: 20%;
  float: left;
}

/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.user-tools {
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}

/* line 31, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links {
  width: 80%;
  list-style-type: none;
  clear: both;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1C39;
  display: block;
  float: right;
}
/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.browse-links a {
  text-transform: uppercase;
}

/* line 46, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link {
  float: right;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a {
  display: flex;
  color: #FDCB44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 58, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.nav-link a:hover {
  background-color: #FDCB44;
  color: #ED1C39;
}

/* line 63, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_header.scss */
.tag-line {
  float: left;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  vertical-align: bottom;
  line-height: 1.2;
  text-align: left;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
footer {
  display: flex;
  clear: both;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ED1C39;
  height: 8%;
}

/* line 12, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
.foot-link {
  float: left;
}

/* line 16, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
.foot-link a {
  display: flex;
  color: #FDCB44;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 24, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_footer.scss */
.foot-link a:hover {
  background-color: #FDCB44;
  color: #ED1C39;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.all-items {
  width: 100%;
}

/* line 5, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview {
  text-align: center;
  font-family: helvetica;
  display: block;
  float: left;
  width: 20%;
  height: 358px;
  margin: 2.5%;
  padding: 2%;
  border: 2px solid #dcdcdc;
  border-radius: 2%;
  box-sizing: border-box;
}
/* line 17, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview img {
  max-height: 100%;
  max-width: 100%;
}
/* line 21, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview a {
  text-decoration: none;
  color: #ED1C39;
}
/* line 25, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .add-to-cart-button input {
  background-color: #FDCB44;
}
/* line 29, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text {
  text-align: left;
  line-height: 1.5;
  padding-top: 5%;
}
/* line 33, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text h2 {
  font-size: 1em;
}
/* line 35, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-preview .item-text h2 a:hover {
  color: #a51226;
}

/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_multiple_items.scss */
.item-thumb {
  margin-right: auto;
  margin-left: auto;
  height: 188px;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}
/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}
/* line 13, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show {
  width: 97%;
  margin-bottom: 2%;
  float: left;
}
/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-image {
  width: 25%;
  box-sizing: border-box;
}
/* line 22, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper img {
  display: block;
  float: left;
  max-width: 100%;
  max-height: 100%;
}
/* line 28, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text {
  width: 75%;
  box-sizing: border-box;
  padding-left: 5%;
  display: block;
  float: left;
}
/* line 34, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text h2 {
  font-size: 1.5em;
  padding-bottom: 3%;
}
/* line 38, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text .item-description {
  font-size: 1.25em;
  line-height: 1.25;
}
/* line 42, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_view_single_item.scss */
.item-wrapper .item-show-text .item-price {
  font-size: 1.5em;
  color: #ED1C39;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-orders a {
  text-decoration: none;
  color: inherit;
}

/* line 6, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-orders p {
  margin: 5px 0px;
  padding: 5px 0px;
}

/* line 11, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-order {
  text-align: center;
  padding: 20px;
  margin: 0 10px;
  float: left;
  border: .5px solid whitesmoke;
  border-radius: 5px;
}

/* line 20, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-order:hover {
  color: lightgray;
}

/* line 24, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order_index.scss */
.user-order .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* line 6, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 11, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 16, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ED1C39;
}

/* line 23, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.user-dashboard a:hover {
  color: darkgray;
}

/* line 27, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.table-heading {
  margin: 10px 0px;
  border-bottom: 1px solid black;
  max-width: 65%;
}

/* line 33, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-info td,
th {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

/* line 41, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-show thead {
  border-bottom: 1px solid black;
}

/* line 45, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-show tbody {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

/* line 50, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.total {
  margin-top: 10px;
  padding-right: 30px;
  text-align: right;
}

/*.status input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #ED1C39;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
}*/
/* line 69, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-filter ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
  background: #FDCB44;
  max-width: 65%;
}

/* line 80, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-filter li {
  text-align: center;
  float: left;
  margin: 10px 20px;
}

/* line 86, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
.order-info a {
  margin: 0px 10px;
}

/* line 90, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_dashboard.scss */
#all-orders {
  /*float: right;*/
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
.add-to-cart-button input {
  background-color: #FDCB44;
}

/* line 5, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
.add-to-cart-button {
  background-color: #FDCB44;
}

/* line 9, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/_buttons.scss */
label[required=required]:before {
  content: "* ";
  color: red;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}
/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}
/* line 13, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .cart-item {
  width: 97%;
  margin-bottom: 2%;
  float: left;
}
/* line 18, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .item-image {
  width: 15%;
  box-sizing: border-box;
}
/* line 22, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper img {
  display: block;
  float: left;
  max-width: 100%;
  max-height: 100%;
}
/* line 28, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .item-text {
  width: 85%;
  box-sizing: border-box;
  display: block;
  float: left;
}
/* line 34, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .cart-total {
  text-align: right;
  font-size: 1.25em;
  color: #ED1C39;
}
/* line 39, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
.cart-wrapper .guest-checkout-links {
  border: 1.5px solid black;
  background-color: none;
  background-color: white;
  margin-top: 2%;
  padding: 1%;
  font-size: .9em;
}

/* line 49, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_cart.scss */
h1.cart-header {
  margin-left: 0%;
}

/* line 1, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
}
/* line 7, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-wrapper h1 {
  text-align: left;
  padding-bottom: 2%;
  margin-left: 0;
  font-size: 1em;
}
/* line 13, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-wrapper .order-table-wrapper {
  width: 97%;
  margin-bottom: 2%;
  float: left;
}

/* line 19, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-total {
  margin-top: 2%;
  margin-right: 5%;
  float: right;
  text-align: right;
  line-height: 1.5;
  font-size: 1.5em;
}
/* line 26, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/sections/_order.scss */
.order-total .price {
  color: #ED1C39;
}

/* line 36, /Users/Home/turing/2module/little-shop/app/assets/stylesheets/application.scss */
#all-orders .hidden {
  display: none;
}
