
=form_for @user do |f|
  =f.label :email, required: true
  =f.text_field :email
  %br
  =f.label :first_name, required: true
  =f.text_field :first_name
  %br
  =f.label :last_name, required: true
  =f.text_field :last_name
  %br
  =render partial: controller.action_name, locals: {f: f}
