.create-account-box.center-container
  %h1 Create a New Account

    .error-message=render partial: 'shared/errors', locals: { target: @user.errors } if @user.errors.any?

    =form_for @user do |f|
      =f.label :email
      =f.text_field :email
      %br

      =f.label :first_name
      =f.text_field :first_name
      %br

      =f.label :last_name
      =f.text_field :last_name
      %br

      =f.label :password
      =f.password_field :password
      %br

      =f.submit "Create Account"
