.create-account-box.center-container
  %h1 Update Profile
  .error-message
    =render partial: 'shared/errors', locals: { target: @user.errors } if @user.errors.any?
  %br
  =form_for([:admin, @user]) do |f|
    =f.label :email
    =f.text_field :email
    %br
    =f.label :first_name
    =f.text_field :first_name
    %br
    =f.label :last_name
    =f.text_field :last_name
    %br
    =f.submit "Update Profile"

    .reset-password
      =link_to "Reset Password", edit_admin_password_path(current_user)
