.no-orders 
  %h3 
    Hey #{current_user.first_name.capitalize}, we noticed you haven't placed any orders with us. Browse some 
    =link_to "rad items", items_path 
    to accessorize your avatar!
  