-if @orders.empty?
  =render partial: 'no_orders'
-else
  -@orders.each do |order|
    %p
    Order ID#:
    =order.id
    %p=number_to_currency(order.total)
    %p=order.created_at
    %p=order.status
    %p=link_to "View Order", user_order_path(order.user, order)