-if @orders.empty?
  =render partial: 'no_orders'
-else
  .user-orders
    -@orders.each do |order|
      %a{:href => user_order_path(order.user, order)}
        .user-order
          %p.title 
            Order ID#:
            =order.id
          %p
            %span.title Total:
            %span.red=number_to_currency(order.total)
          %p.title Status: 
          %p
            =order.status.capitalize
            on
          %p
            =order.send(order.status.to_sym)