-if @orders.empty?
  =render partial: 'no_orders'
-else
  .user-orders
    -@orders.each do |order|
      %a{:href => user_order_path(order.user, order)}
        .user-order
          %p.title 
            Order ID#:
            =order.id
          %br
          %p
            %span.title Total:
            =number_to_currency(order.total)
          %p
            %span.title Date:
            =order.send(order.status.to_sym)
          %br
          %p
            Status: 
            =order.status
          -# %p=link_to "View Order", user_order_path(order.user, order)