nav {
    // display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ED1C39;
}

nav img {
    height: 70px;
    padding: 2%;
}

.site-id {
    width: 35%;
    float: left;
}

.user-tools {
    width: 65%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ED1C39;
    display: block;
    float: right;
}

.browse-links {
    width: 65%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ED1C39;
    display: block;
    float: right;
}

.nav-link {
    float: right;
}

.nav-link a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link a:hover {
    background-color: #FDCB44;
    color: #ED1C39;
}

.nav-categories {
    clear: both;
}