.item-wrapper {
  width: 95%;
  border: 2px solid #dcdcdc;
  float: left;
  padding: 1%;
  margin-bottom: 3%;
  h1{
    text-align: left;
    padding-bottom: 2%;
    margin-left: 0;
    font-size: 1em;
  }
  .item-show {
    width: 97%;
    margin-bottom: 2%;
    float: left;
  }
  .item-show-image {
    width: 25%;
    box-sizing: border-box;
  }
  img {
    display: block;
    float: left;
    max-width: 100%;
    max-height: 100%;
  }
  .item-show-text {
    width: 75%;
    box-sizing: border-box;
    padding-left: 5%;
    display: block;
    float: left;
    h2 {
      font-size: 1.5em;
      padding-bottom: 3%;
    }
    .item-description {
    font-size: 1.25em;
    line-height: 1.25;
    }
    .item-price {
      font-size: 1.5em;
      color: #ED1C39;
    }
  }
}


