.center-container
  %h1 Reset Password

  .error-message=render partial: "errors" if @errors

  .reset-password-box
    =form_tag user_password_path, method: :put do

      =label_tag(:old, "Old password")
      =password_field_tag(:old)
      %br
      =label_tag(:new, "New password")
      =password_field_tag(:new)
      %br
      =label_tag(:confirm, "Confirm new password")
      =password_field_tag(:confirm)
      %br
      =submit_tag("Update Password")
