%h1 All Items
.all-items
  -@items.each do |item|
    .item-preview
      .item-thumb=image_tag(item.image)
      %p=item.name
      %p=item.description
      %p=item.price
      =render partial: "item_status_#{item.status}"
