%h1 All Items
.all-items
  -@items.each do |item|
    .item-preview
      .item-thumb=image_tag(item.image)
      %p=item.name
      %p=item.description
      %p=item.price
      =button_to "Add to Cart", carts_path(item_id: item.id)
