%h1 Admin: Categories

%h3
  =link_to "Add New Category", new_admin_category_path

%ul.admin-categories
  -@categories.each do |category|
    %li
      =category.title
      =link_to "Edit", edit_admin_category_path(category.id)
      =link_to "Delete Category", admin_category_path(category), method: :delete
