/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'base';
@import 'skeleton';
@import 'sections/header';
@import 'sections/footer';
@import 'sections/view_multiple_items';
@import 'sections/view_single_item';
@import 'sections/order_index';
@import 'sections/dashboard';
@import 'buttons';
@import 'sections/cart';
.cart-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .item-preview {
        display: flex;
        text-align: center;
        width: 25%;
        padding: 20;
        .item-thumb {
            width: 100%;
        }
    }
}

.item-preview {
    text-align: center;
    font-family: helvetica;
}

.btn-cart-add {
    padding: 8%;
    background-color: #33ffbb;
    border: 10px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 12%;
}

.btn-cart-add:hover {
    background: #ED1C39;
    color: #fff;
    text-decoration: none;
}

#all-orders .hidden {
    display: none;
}